body{
  margin: 0;
}

a{
  text-decoration: none;
}
.top-wrapper{
  height:700px;
  background-color: #181A1B;
}

.top-wrapper h1{
  padding-top: 300px;
  margin:0 auto;
  text-align: center;
  color: white;
  font-size: 50px;
}

.top-wrapper p{
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}
.photogallery{
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #D8D8D8;
}

.photogallery h1{
  padding-top:50px;
  padding-bottom: 50px;
}

.photogallery i{
  padding-right: 10px;
}
.row img{
  width: 100%;
}

.profile{
  height: 300px;
  padding: 20px 20px 20px 20px;
}


.photo{
  text-align: center;
}

.introduction{
  text-align: center;

}

.sns{
  text-align: center;


  }
.btn:hover{
  opacity: 0.5;
  transition: all 0.5s;
}

.bun{
  width: 350px;
  text-align: center;
}
